# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## <b>Objectives</b>:
- Introduce Datascience languages
- Develop understanding of Jupyter Notebook
- Familiarize students with Datascience Environments

### Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3. SAS
    4. Java

### Some of the commonly used libraries used by Data Scientists include:
    1. NumPy
    2. Pandas
    3. Matplotlib
    4. SciPy

|Data Science Tools|
|---|
|TensorFlow|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [23]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [37]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hour = 60

minutes/hour

3.3333333333333335

## Author
Bill Quinn